.env
.DS_Store
.idea
diagram/dist
ssl/*.pem
ssl/*.csr
venv

## Generated templates
01-hub-offer.yaml
01-awssecret.yaml
01-gitea-token.yaml
04-gitea-proxy.yaml
01-values.yaml

# generated for diagrams
diagrams/dist
diagrams/diagrams

