.env
.DS_Store
.idea
diagram/dist
ssl/*.pem
ssl/*.csr
venv

## Generated templates
01-values.yaml
01-traefik-deployment-patch.yaml

# generated for diagrams
diagrams/dist
diagrams/diagrams

hub/manifests/hub/02-hub-notification.yaml
