---
apiVersion: v1
kind: Namespace
metadata:
  name: apps

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: weather-data
  namespace: traefik-hub
data:
  api.json: |
    {
      "weather": [
        { "id": 1, "city": "GopherCity", "weather": "Moderate rain" },
        { "id": 2, "city": "City of Gophers", "weather": "Sunny" },
        { "id": 3, "city": "GopherRocks", "weather": "Cloudy" }
      ]
    }

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-app
  namespace: traefik-hub
spec:
  replicas: 1
  selector:
    matchLabels:
      app: weather-app
  template:
    metadata:
      labels:
        app: weather-app
    spec:
      containers:
        - name: api
          image: ghcr.io/traefik-workshops/api-server:v0.2.0
          args: ["-data", "/api/api.json", "-errorrate", "2"]
          imagePullPolicy: Always
          volumeMounts:
          - name: api-data
            mountPath: /api
      volumes:
        - name: api-data
          configMap:
            name: weather-data

---
apiVersion: v1
kind: Service
metadata:
  name: weather-app
  namespace: traefik-hub
  labels:
    app: weather-app
spec:
  type: ClusterIP
  ports:
    - port: 3000
      name: api
  selector:
    app: weather-app
