GCLOUD_EMAIL="xxxx"
AWS_CLIENT_ID="xxxx"
AWS_CLIENT_SECRET="xxxx"
HUB_USERNAME="xxxx"
HUB_PASSWORD="xxxx"

AUTO_UPDATE_HOSTS="false"
TIMEOUT=180s

INSTALL_POP=false
INSTALL_BROKER=false
INSTALL_JAEGER=false
INSTALL_MONITORING=false
INSTALL_WHOAMI=false
INSTALL_PETSTORE=false
